extends layout

block content
  div.messages-wrapper
    each message in messages 
      div.message-box
        p.message-text #{message.text}
        div.message-box-footer
          p.message-user #{message.user}
          p.message-added #{message.added}
