doctype html
html
  head
    title Mini Message Board - #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h3 
        a(href='/') Mini Message Board
    main
      block content
