*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --accent: tomato;
}

body {
  min-height: 100vh;
  font: 1.2rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
  padding: 0.8rem 1.2rem;
  color: var(--secondary-color);
  background-color: var(--accent);
  text-align: center;
}

main {
  margin: 3rem 2rem;
}
